<div class="container mt-5">
  <div class="card p-3">
    <div class="card-body">
      <h3 class="card-title text-center display-2">{{isRegisterMode ? 'Register' : 'Login'}}</h3>
      <!-- username input -->
      <div class="form-group">
        <label class="my-2" for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" [(ngModel)]="username"
          placeholder="Enter username" required>
      </div>
      <!-- password input -->
      <div class="form-group">
        <label class="my-2" for="password">Password</label>
        <input type="password" class="form-control" name="password" id="password" [(ngModel)]="password"
          placeholder="Enter password" required>
      </div>

      <!-- Register Mode -->
      <div *ngIf="isRegisterMode">
        <div class="form-group">
          <!-- Password confirm -->
          <label class="my-2" for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" name="confirmPassword" id="confirmPassword"
            [(ngModel)]="confirmPassword" placeholder="Confirm Password" required>
        </div>
        <!-- Full Name -->
        <div class="form-group">
          <label class="my-2" for="fullname">Full Name</label>
          <input type="text" class="form-control" [(ngModel)]="fullname" name="fullname" id="fullname"
            placeholder="Enter full name" required>
        </div>
      </div>
      <!-- Login/Register BTN-->
      <button class="btn btn-primary btn-block mt-3 px-3 fs-5"
        (click)="isRegisterMode ? register() : login()">{{isRegisterMode ?
        'Register': 'Login'}}
      </button>
      <!-- Register Mode Toggle -->
      <div class="mt-3 text-center">
        <a href="#" (click)="toggleRegisterMode()">
          {{isRegisterMode ? 'Already have an account? Login' : 'Create a new account'}}
        </a>
      </div>
    </div>
  </div>
</div>