<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center">Login</h3>
      <!-- username input -->
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" id="username" placeholder="Enter username" required>
      </div>
      <!-- password input -->
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Enter password" required>
      </div>
    </div>
  </div>
</div>